<h2>Project: <%= @project.name %></h2>

<p>Which cards would you like to print?</p>

<form action="/render" method="post" target="_blank">
  <input type="hidden" name="iteration" value="icebox" />
  <input type="hidden" name="project_id" value="<%= @project.id %>" />
  <input type="hidden" name="api_key" value="<%= @api_key %>" />
  <button type="submit" title="(opens in a new window)">Generate cards for Icebox</button>
</form>

<form action="/render" method="post" target="_blank">
  <input type="hidden" name="iteration" value="backlog" />
  <input type="hidden" name="project_id" value="<%= @project.id %>" />
  <input type="hidden" name="api_key" value="<%= @api_key %>" />
  <button type="submit" title="(opens in a new window)">Generate cards for Backlog</button>
</form>

<hr>

<% @iterations.reverse_each do |iteration_number| %>
  <form action="/render" method="post" target="_blank">
    <input type="hidden" name="iteration" value="<%= iteration_number %>" />
    <input type="hidden" name="project_id" value="<%= @project.id %>" />
    <input type="hidden" name="api_key" value="<%= @api_key %>" />
    <button type="submit" title="(opens in a new window)">
      Generate cards for Iteration <%= iteration_number %>
      <% if iteration_number == @project.current_iteration_number %>
        (Current)
      <% end %>
    </button>
  </form>
<% end %>

<hr>

<form action="/render" method="post" target="_blank" class="label-form">
  <input type="hidden" name="iteration" value="label" />
  <input type="hidden" name="project_id" value="<%= @project.id %>" />
  <input type="hidden" name="api_key" value="<%= @api_key %>" />
  <input type="text" id="label" name="label" placeholder="Label name" required />
  <button type="submit" title="(opens in a new window)">Generate cards for this Label</button>
</form>

<p class="start-again"><a href="/">start again</a></p>
